DEVELOPMENT_PLAN_LITE_SHEETS.md
DEVELOPMENT-PLAN-LITE-SHEETS-MVP-1.md
DEV_PLAN_LITE_SHEETS_v0.2.md
.github

# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build
/dist

# PWA / Service Worker
/public/sw.js
/public/sw.js.map
/public/workbox-*.js
/public/workbox-*.js.map

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db